.profilepage {
    background-color: #05416C;
    height: 100vh;
    padding-top: 60px;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DBE6ED;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo {
    height: 80px;
    width: auto;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
}

.logout-button{
    width: 10%;
    padding: 5px 10px;
    background-color: #003459;
    color: #ADC1C7;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

.navbar-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 20px;
}

.navbar-link {
    color: #003459;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-link:hover {
    text-decoration: underline;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
}

.profilepage-content {
    padding: 40px;
    color: #DBE6ED;
}


.profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-form label {
    margin-bottom: 5px;
}

.profile-form input,
.profile-form select {
    padding: 8px;
    margin-bottom: 10px;
}

.profile-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
